<%= turbo_frame_tag "admin_panel_collection" do %>
  <%# Venue Types Panel %>
  <table class="table-auto">
    <thead>
      <tr>
        <th class="border border-gray-300 px-2 py-1">ID</th>
        <th class="border border-gray-300 px-2 py-1">Nazwa</th>
        <th class="border border-gray-300 px-2 py-1">Nazwa ikony</th>
        <th class="border border-gray-300 px-2 py-1">Ilość </th>
        <th class="border border-gray-300 px-2 py-1">Ostatnia edycja</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do | venue_type | %>
        <tr id="<%= dom_id(venue_type, "admin") %>">
          <td class="border border-gray-300 px-2 py-1"><%=venue_type.id%></td>
          <td class="border border-gray-300 px-2 py-1"><%=venue_type.name%></td>
          <td class="border border-gray-300 px-2 py-1"><%=venue_type.icon_name%></td>
          <td class="border border-gray-300 px-2 py-1"><%=venue_type.types_count%></td>
          <td class="border border-gray-300 px-2 py-1"><%=venue_type.updated_at.strftime("%Y-%m-%d %H:%M")%></td>
          <td class="px-4 py-2 place-items-center"><%=link_to "Edytuj", edit_admin_venue_type_path(venue_type), data: {turbo: false},
                class:" text-xs bg-blue-600 hover:bg-blue-700 text-white px-2 py-1 rounded-md"%></td>
          <td class="px-4 py-2 place-items-center"> <%= button_to "Usuń",  admin_venue_type_path(venue_type),
                method: :delete,
                data: { turbo_method: :delete,
                turbo_confirm: "Are You sure?"},
                class:" text-xs bg-red-600 hover:bg-red-700 text-white px-2 py-1 rounded-md"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>