<% answers.each do |answer|%>
  <div class="ml-4">
    <div class="my-1 text-sm flex gap-1">
      <div class="h-8 w-8 max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none">
        <%= avatar(answer.user)%>
      </div>
      <div class="content-center">
        <%=answer.user.username%> :
      </div>
    </div>
    <%= turbo_frame_tag dom_id(answer) do %>
      <div class="flex justify-between py-1 px-3 rounded-md">
        <div class="w-full ml-2 text-sm min-h-10">
          <%= answer.body%>
        </div>
        <div class="flex gap-2 ml-2 place-items-center">
          <% if current_user != answer.user%>
            <div>
              Edit       
            </div>
            <div>
              Destroy
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-center text-xs border-t border-dashed">
        <%=time_ago_in_words(answer.updated_at)%> ago
      </div>
    <% end %>
  </div>
<% end%>