<div class="bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Profile Header -->
    <div class="py-12">
      <div class="lg:flex lg:items-center lg:justify-between">
        <div class="flex-1 min-w-0">
          <div class="flex items-center">
            <div class="h-16 w-16 rounded-full bg-gray-200 overflow-hidden">
              <div class="h-full w-full object-cover">
                <%= avatar(@profile)%>
              </div>
            </div>
            <div class="ml-3">
              <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                <%= @profile.username %>
              </h1>
              <p class="text-base text-gray-500">
                Member since <%= @profile.created_at.strftime("%B %Y") %>
              </p>
            </div>
          </div>
        </div>
        <div class="mt-5 lg:mt-0 lg:flex-shrink-0">
          <%= link_to edit_user_registration_path(@profile.id), class: "inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 0L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            Edit Profile
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- User Details Section -->
  <div class="bg-gray-100">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 mb-6">
        Personal Information
      </h2>
      <div class="bg-white shadow overflow-hidden rounded-md">
        <div class="px-4 py-5 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            User Details
          </h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Your personal information and account settings.
          </p>
        </div>
        <div class="border-t border-gray-200">
          <dl>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Full name
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @profile.username %>
              </dd>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Email address
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @profile.email %>
              </dd>
            </div>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Account type
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @profile.role.titleize %>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <!-- User Reviews Section -->
  <div class="bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
      <div class="lg:flex lg:items-center lg:justify-between mb-6">
        <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
          Your Reviews
        </h2>
      </div>
      <% if @user_reviews.any? %>
        <div class="h-80 pr-2 overflow-y-auto">
          <div class="space-y-4 ">
            <% @user_reviews.each do |review| %>
              <div class="bg-gray-50 rounded-md shadow overflow-hidden">
                <div class="px-4 py-3 sm:p-4">
                  <div class="flex items-center justify-between">
                    <div>
                      <h3 class="text-lg font-medium text-gray-900">
                        <%=link_to review.venue.name, venue_path(review.venue) %>
                      </h3>
                      <div class="mt-1 flex items-center">
                        <div data-controller="rating-display" 
                        data-rating-display-rating-value="<%= review.avg_rating %>" 
                        data-rating-display-max-stars-value="6" class="flex">
                          <div data-rating-display-target="starContainer" class="flex text-yellow-400"></div>
                          <span data-rating-display-target="ratingValue" class="ml-2 font-bold text-gray-500 text-sm"></span>
                        </div>
                        <span class="ml-2 text-xs text-gray-500">
                          <%= review.created_at.strftime("%B %d, %Y") %>
                        </span>
                      </div>
                    </div>
                    <div class="flex space-x-2">
                      <%= link_to edit_review_path(review), class: "inline-flex items-center p-1 border border-transparent rounded-md text-indigo-600 hover:bg-indigo-50" do %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                        </svg>
                      <% end %>
                      <%= button_to review_path(review), method: :delete, class: "inline-flex items-center p-1 border border-transparent rounded-md text-red-600 hover:bg-red-50", data: { turbo_confirm: "Are you sure you want to delete this review?" } do %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                      <% end %>
                    </div>
                  </div>
                  <div class="mt-2 text-sm text-gray-900">
                    <%= review.content %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="bg-gray-50 p-6 text-center rounded-md">
          <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"></path>
          </svg>
          <h3 class="mt-2 text-sm font-medium text-gray-900">No reviews</h3>
          <p class="mt-1 text-sm text-gray-500">
            You haven't written any reviews yet.
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
