<div class="bg-white shadow-md rounded-lg overflow-hidden hover:shadow-lg transition-shadow duration-300">
  <div class="grid grid-cols-12">
    <div class="col-span-4 max-w-64">
      <div class="relative h-full ">
        <%=primary_photo(venue)%>
      </div>
    </div>
    <div class="col-span-8 p-4">
      <h3 class="text-lg font-semibold mb-1 hover:text-indigo-600 transition">
        <%= link_to venue.name, venue_path(venue), data: {turbo_frame: "_top"} %>
      </h3>
      <div class="flex items-center">
        <div data-controller="rating-display" 
          data-rating-display-rating-value="<%= venue.avg_rating || 0 %>" 
          data-rating-display-max-stars-value="6">
          <div class="flex gap-1 ">
            <div data-rating-display-target="starContainer" class="content-center text-yellow-400 text-sm"></div>
            <div data-rating-display-target="ratingValue" class="text-sm"></div>
          </div>
        </div>
      </div>
      <div class="flex items-center text-sm text-gray-500 mt-2">
        <i class="fas fa-map-marker-alt mr-2 text-indigo-500"></i>
        <%=venue.abbreviated_address%>
      </div>
      <div class="flex flex-wrap gap-2 mt-3">
        <% venue.main_types.each do |category| %>
          <span class="px-2 py-1 bg-indigo-100 text-indigo-800 text-xs rounded-full"><%= category.name %></span>
        <% end %>
      </div>
      <% if venue.reviews.any? %>
        <p class="text-gray-600 text-sm mt-2 line-clamp-2">
          "<%= venue.reviews.first.content %>"
        </p>
      <% end %>
    </div>
  </div>
</div>