<header>
  <nav class="bg-indigo-600 shadow-lg">
    <div class="max-w-7xl mx-auto px-4">
      <div class="flex justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0 flex items-center">
            <span class="text-white text-2xl font-bold"><%=link_to "Knajping", root_path%></span>
          </div>
          <div class="ml-12 md:flex md:space-x-4">
            <%=link_to "Venues", venues_path, class: "hidden md:flex text-white hover:bg-indigo-500 px-3 py-2 rounded-md text-sm font-medium"%>
            <%=link_to "Reviews", reviews_path, class: "hidden md:flex text-white hover:bg-indigo-500 px-3 py-2 rounded-md text-sm font-medium"%>
          </div>
        </div>
        <div class="flex items-center">
          <% if user_signed_in? %>
            <div class="hidden md:flex text-white">
              Cześć, <%=current_user.username%>
            </div>
            <div class="ml-4 flex items-center md:ml-6">
              <button class="p-1 rounded-full text-indigo-200 hover:text-white focus:outline-none">
                <i class="fas fa-bell text-xl"></i>
              </button>
              <div class="ml-3 relative">
                <div>
                  <div data-controller="dropdown" class="">
                    <button data-action="dropdown#toggle" class="h-8 w-8 max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none" id="user-menu" aria-label="User menu" aria-haspopup="true">
                      <%= avatar(current_user)%>
                    </button>
                    <ul data-dropdown-target="menu" class="hidden absolute right-0 mt-3 w-52 bg-white rounded-lg shadow-lg p-2 z-50">
                      <li class="hover:bg-gray-100 rounded-lg">
                        <%=link_to "Profil", profile_path%>
                      </li>
                      <% if (current_user.role == "owner")%>
                        <li class="hover:bg-gray-100 rounded-lg">
                          <%=link_to "Dodaj lokal", new_venue_path%>
                        </li>
                      <% end%>
                      <li class="hover:bg-gray-100 rounded-lg">
                        <%=button_to "Wyloguj się", destroy_user_session_path, method: :delete %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="md:hidden">
              <div data-controller="dropdown">
                <button data-action="dropdown#toggle" class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                  </svg>
                </button>
                <ul data-dropdown-target="menu" class="hidden absolute right-0 mt-3 w-52 bg-white rounded-lg shadow-lg p-2 z-50 divide-y">
                  <div class="py-2 hover:bg-indigo-500">
                    <li><%=link_to "Venues", venues_path, class: "p-2 my-1 hover:bg-gray-200 rounded-lg" %></li>
                    <li><%=link_to "Reviews", reviews_path, class: "p-2 my-1 hover:bg-gray-200 rounded-lg" %></li>
                  </div>
                  <div class="py-2 hover:bg-indigo-500">
                    <li><%=link_to "Sign In", new_user_session_path, class: "p-2 my-1 hover:bg-gray-200 rounded-lg" %></li>
                    <li><%=link_to "Sign Up", new_user_registration_path, class: "p-2 my-1 hover:bg-gray-200 rounded-lg" %></li>
                  </div>
                </ul>
              </div>
            </div>
            <div class="hidden md:block">
              <ul class="flex space-x-6 text-sm">
                <li><%=link_to "Sign In", new_user_session_path, class: "text-white hover:bg-indigo-500 px-3 py-2 rounded-md text-sm font-medium" %></li>
                <li><%=link_to "Sign Up", new_user_registration_path, class: "text-white hover:bg-indigo-500 px-3 py-2 rounded-md text-sm font-medium" %></li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>